<h1>New Article</h1>

<div class="mb-3">
<%= form_with model: @article do |a| %>
  <%= a.label :title %>
  <%= a.text_field :title %></div>
  <div class="mb-3"><%= a.label :content %>
  <%= a.text_field :content %>
  <%= a.submit%>
<% end %></div>

<%= link_to "Back",
    articles_path(@article)%> 